/*========reset================*/
*,
*:after,
*:before {
	/* webkit/moz unnecessary in new  browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}
:root{
    --editorbg:#1E1E1E;
    --dragbar:#3C3C3C;
    --darkgrey:#333333;
     --darkgreytrans:rgba(51, 51, 51, 0.7);
}
body{
  font-size: 0.8em;
  background-color: black;
  
}

.wrap {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    min-width: 320px;
   
    transform: translate(-50%, 0%);
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    /** Thak you Stereokai for this ghist
    https://gist.github.com/stereokai/36dc0095b9d24ce93b045e2ddc60d7a0
    */
   border: double 1px transparent;
  border-radius: 1em;
  background-image: linear-gradient(white, white), linear-gradient(0deg, rgba(48,48,48,1) 0%, rgb(121, 121, 121) 50%);
  background-origin: border-box;
  background-clip: content-box, border-box;
    
}

.wrap__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var( --darkgreytrans);
     z-index: 1;
     
    
  
}
.wrap__inner:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

canvas{
     position: absolute;
  top: 0%;
  left: 0%;
width: 100%;
   /* border: dashed 2px rgb(158, 53, 53);*/
}
.croparrea{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border: dashed 1px rgb(241, 241, 241);
  background-color:var( --darkgrey);
  z-index: 0;
}

.dragbar{
    position: relative;
    width: 100%;
    height: 0rem;
    background: var(--dragbar);
    display: none;
    cursor: grab;
}
.dragbar:active {
  cursor: grabbing;
}

.dragbarb{
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.dragbarb:active {
  cursor: grabbing;
}


@media (min-width: 576px) { 

 }

/** Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
.wrap {
    width: 80vw;
    transform: translate(-50%, 10%);
}
 }

/** Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
.wrap {
    width: 80vw;
    transform: translate(-50%, 10%);
}
.dragbar{
    position: relative;
    display: block;
    width: 100%;
    height: 1.7rem;
    background: var(--dragbar);
    z-index: 100;
}
.dragbarb{
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 1.7rem;
    background:transparent;
    z-index: 100;
}
 }

/** X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
.wrap {
    width: 50vw;
    transform: translate(-50%, 5%);
}
 }

/** XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
.wrap {
    width: 40vw;
    transform: translate(-50%, 5%);
}
 }

.toolbar{
   
    background-color: #2b2b2b;
    
}
